.slider__container {
    height: 634px;
    margin-bottom: 125px;
}

/* .image-slider_wrapper {}

.image-slider_slide {} */

.image-slider {
    padding: 30px 0 0;
    position: relative;
    overflow: hidden;
    width: 727px;
}


.image-slider_image {
    /* width: 71.825%; */
    width: 727px;
    height: 453px;
    margin: 0 auto;
    position: relative;
}


.image-slider_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-mini-slider {
    /* width: 71.825%; */
    width: 727px;
    margin: 20px auto 0 auto;
}

/* .image-mini-slider_wrapper {} */

.image-mini-slider_slide {
    filter: grayscale(100%);
    transition: opacity 0.3s ease 0s;
}

.image-mini-slider_slide.swiper-slide-thumb-active {
    filter: grayscale(0);
}

.image-mini-slider___image {
    width: 174px;
    height: 154px;
    position: relative;
    padding: 0px 0px 30% 0px;
    cursor: pointer;
}

.image-mini-slider___image img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.image-slider_p {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 17px;
    left: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

}

@media screen and (max-width: 1650px) {
    .image-slider, .image-slider_image, .image-mini-slider {
        width: 650px;
    }

    .slider__container {
        height: 559px;
    }

    .image-slider_image {
        height: 403px;  
    }

    .image-mini-slider___image {
        width: 154px;
        height: 136px;
    }
}

@media screen and (max-width: 1420px) {
    .image-slider, .image-slider_image, .image-mini-slider {
        width: 500px;
    }

    .slider__container {
        height: 432px;
    }

    .image-slider_image {
        height: 310px;  
    }

    .image-mini-slider___image {
        width: 116px;
        height: 102px;
    }
}

@media screen and (max-width: 1100px) {
    .image-slider, .image-slider_image, .image-mini-slider {
        width: 400px;
    }

    .slider__container {
        height: 348px;
    }

    .image-slider_image {
        height: 248px;
    }

    .image-mini-slider___image {
        width: 91px;
        height: 80px;
    }
}

.slider__container_responsive {
    height: 308px;
    margin-bottom: 25px;
}

.image-slider_responsive {
    position: relative;
    overflow: hidden;
    width: 352px;
}

.image-mini-slider_responsive {
    width: 352px;
    margin: 20px auto 0 auto;
}

@media screen and (max-width: 900px) {
    .image-slider_responsive, .image-slider_image, .image-mini-slider_responsive {
        width: 352px;
    }

    .image-slider_image {
        height: 218px;
    }

    .image-mini-slider___image {
        width: 80px;
        height: 70px;
    }
}

@media screen and (max-width: 390px) {
    .image-slider_responsive, .image-slider_image, .image-mini-slider_responsive {
        width: 330px;
    }

    .image-slider_image {
        height: 204px;
    }

    .slider__container_responsive {
        height: 288px;
        margin: 0 auto;
    }

    .image-mini-slider___image {
        width: 73px;
        height: 64px;
    }
}

@media screen and (max-width: 350px) {
    .image-slider_responsive, .image-slider_image, .image-mini-slider_responsive {
        width: 300px;
    }

    .image-slider_image {
        height: 186px;
    }

    .slider__container_responsive {
        height: 264px;
        margin: 0 auto;
    }

    .image-mini-slider___image {
        width: 66px;
        height: 58px;
    }
}

/* #mastercard {
    object-fit: fill;
}


@media screen and (max-width: 1550px) {
    .image-slider_image {
        width: 1250px;
    }

    .image-mini-slider {
        width: 1250px;
    }

    .image-mini-slider___image {
        width: 145px;
        height: 134px;
    }

    .swiper-button-prev {
        left: calc((100% - 1250px) * 0.5 - 67px);
    }

    .swiper-button-next {
        left: calc((100% - 1250px) * 0.5 + 1250px + 40px);
    }
}

@media screen and (max-width: 1400px) {
    .slider__container {
        height: 780px;
    }

    .image-slider_image {
        width: 1100px;
        height: 550px;
    }

    .image-mini-slider {
        width: 1100px;
    }

    .image-mini-slider___image {
        width: 127px;
        height: 110px;
    }

    .swiper-button-prev {
        left: calc((100% - 1100px) * 0.5 - 57px);
    }

    .swiper-button-next {
        left: calc((100% - 1100px) * 0.5 + 1100px + 30px);
    }
}

@media screen and (max-width: 1250px) {
    .slider__container {
        height: 698px;
    }

    .image-slider_image {
        width: 950px;
        height: 476px;
    }

    .image-mini-slider {
        width: 950px;
    }

    .image-mini-slider___image {
        width: 108.25px;
        height: 102px;
    }

    .swiper-button-prev {
        left: calc((100% - 950px) * 0.5 - 47px);
    }

    .swiper-button-next {
        left: calc((100% - 950px) * 0.5 + 950px + 20px);
    }
}

@media screen and (max-width: 1050px) {
    .slider__container {
        height: 627px;
    }

    .image-slider_image {
        width: 800px;
        height: 406px;
    }

    .image-mini-slider {
        width: 800px;
    }

    .image-mini-slider___image {
        width: 89px;
        height: 85px;
    }

    .swiper-button-prev {
        left: calc((100% - 800px) * 0.5 - 47px);
    }

    .swiper-button-next {
        left: calc((100% - 800px) * 0.5 + 800px + 20px);
    }
}

@media screen and (max-width: 950px) {
    .slider__container {
        height: 647px;
    }

    .image-slider {
        padding: 44px 0 27px 0;
    }

    .image-slider_image {
        width: 333px;
        height: 445px;
    }

    .image-mini-slider {
        width: 333px;
        overflow: hidden;
        margin-top: 44px;
    }

    .image-mini-slider___image {
        width: 106px;
        height: 98px;
    }

    .swiper-pagination {
        top: 506px !important;
    }

    .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
        background-color: #fff;
    }

    .image-slider_image {
        width: 300px;
    }

    .image-mini-slider {
        width: 300px;
    }

    .image-mini-slider___image {
        width: 96px;
    }

    .image-slider_p {
        display: none;
    }

    #mastercard {
        object-fit: cover;
    }
} */


