p {
    margin: 0;
    padding: 0;
}

.gaaholding {
    background-color: #F6F6F6;
}

.gaaholding__container {
    max-width: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 76px 0 95px 0;
    gap: 97px;
}

.gaaholding__typo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title__h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    color: #565656;
}

.gaaholding__typo p {
    font-size: 15px;
    line-height: 16.8px;
    font-weight: 300;
    color: #000;
    text-align: center;
}

.gaaholding__logo {
    width: 50%;
}

.gaaholding__logo img {
    width: 100%;
    object-fit: contain;
}

.gaaholding__h {
    margin: 0 auto;
}

.work_location {
    background-color: #fff;
}

.work_location__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 66px 0 34px 0;
    align-items: center;
}

.work_location__map {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 27.76% 0 17.39%;
    gap: 33px;
}

.work_location__img {
    max-width: 700px;
    min-width: 500px;
}

.work_location__img img {
    width: 100%;
    object-fit: cover;
}

.work_location__typo {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #000;
    max-width: 324px;
    min-width: 200px;
    font-size: 15px;
    line-height: 16.8px;
    font-weight: 300;
}

.work_location__typo ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.strategy {
    background-color: #F6F6F6;
}

.strategy__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    padding: 34px;
}

.strategy_principe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.white__box {
    font-size: 15px;
    line-height: 16.8px;
    font-weight: 300;
    background-color: #fff;
    color: #565656;
    padding: 12px;
    width: max-content;
    font-feature-settings: "case" on;
}

.white__box h3 {
    margin: 0;
}

.strategy_partners {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.strategy_partners__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-top: -20px;
}

.strategy_partners__content div {
    width: 118px;
    height: 118px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.strategy_partners__content img {
    margin: 0 auto;
}

.strategy__mccan {
    width: 93px;
    height: 30px;
}

.strategy__um {
    width: 46px;
    height: 46px;
}

.strategy__kedi {
    width: 108px;
    height: 16px;
}

.strategy__initiative {
    width: 87px;
    height: 30px;
}

.strategy__stv {
    width: 58px;
    height: 37px;
}

.strategy__adssprint {
    width: 96px;
    height: 34px;
}

.superiorities {
    background-color: #fff;
}


.superiorities__container {
    width: 1296px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin: 0 auto;
    padding: 60px 0;
}

.superiorities__list {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.list__box {
    width: 248px;
    height: 248px;
    background-color: #0057FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    font-size: 15px;
    line-height: 16.8px;
    font-weight: 300;
}

.list__box p {
    width: 204px;
    text-align: center;
}

.list__box__svg {
    margin-top: 62px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 37px;
    background-color: #F6F6F6;
    padding: 71px 20px 68px 20px;
}

.service__boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3%;
}

.service__box {
    max-width: 354px;
    min-width: 245px;
    height: 460px;
    background: #fff;
    padding-left: 8%;
    color: #000;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 300;
    border-top: 4px solid rgba(0, 87, 255, 1);
    transition: all .3s ease-in-out;

}

.service__box:hover {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);

}

.gaaholding__logo img {
    min-width: 107px;
    min-height: 139px;
}

@media (max-width: 1000px) {
    .service__box {
        font-size: 12px;
        min-width: 200px;
    }
}

@media (max-width: 1350px) {
    .superiorities__container {
        width: auto;
    }

    .superiorities__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 12px;
    }

    .last_list__box {
        grid-area: 3 / 1 / 4 / 3;
        margin: 0 auto;
    }
}

.mccan {
    width: 161px;
    height: 52px;
    margin: 38px 0 30px 17%;
}

.um {
    width: 59px;
    height: 59px;
    margin: 32px 0 30px 32%;
}

.kedi {
    width: 213px;
    height: 32px;
    margin: 46px 0 43px 13.8%;
}

.adssprint {
    width: 161px;
    height: 57px;
    margin: 24px 0 30px 16.6%;
}

.stv {
    width: 78px;
    height: 50px;
    margin: 24px 0 37px 26%;
}

.initiative {
    width: 124px;
    height: 43px;
    margin: 24px 0 44px 22.3%;
}

.service__box__ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.service__ul {
    display: none;
}

.service__btn {
    display: none;
}

.service__btn_active {
    padding: 0 7px 11px 272px;
}

@media (max-width: 950px) {
    .kedi {
        margin-left: 2%;
    }

    .mccan {
        margin-left: 8%;
    }

    .adssprint {
        margin-left: 10%;
    }
}

@media (max-width: 850px) {
    .kedi {
        margin-left: -6%;
    }

    .gaaholding__container {
        padding-top: 47px;
    }

}

@media (max-width: 800px) {

    .work_location__img {
        min-width: 390px;
    }

    .work_location__map {
        flex-direction: column;
    }

    .work_location__title {
        padding-left: 0;
    }

    .work_location__title h2,
    .underline__h h2 {
        line-height: 29px;
        text-align: left;
        margin-bottom: 4px;
    }

    .work_location__typo {
        font-size: 14px;
        gap: 10px;
    }

    .work_location__typo p {
        padding: 0;
        margin: 0;
    }

    .work_location__typo ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .strategy__container {
        padding: 20px 20px 30px 20px;

        align-items: normal;
        gap: 34px;
    }

    .strategy__title {
        width: 335px;
    }

    .strategy_partners__content {
        margin-top: -8px;
        gap: 5.6px;
    }

    .strategy_partners__content div {
        width: 55px;
        height: 55px;
    }

    .strategy__svg svg {
        width: 312px;
        height: 44px;
    }

    .white__box {
        font-size: 14px;
    }

    .strategy__mccan {
        width: 43px;
        height: 14px;
    }

    .strategy__um {
        width: 21.75px;
        height: 21.75px;
    }

    .strategy__kedi {
        width: 51px;
        height: 8px;
    }

    .strategy__initiative {
        width: 41px;
        height: 14px;
    }

    .strategy__stv {
        width: 27px;
        height: 17.5px;
    }

    .strategy__adssprint {
        width: 45px;
        height: 16px;
    }

    .work_location__map {
        padding: 0;
    }

    .work_location__container {
        align-items: start;
        padding: 20px;
        gap: 26px;
    }

    .work_location__typo {
        margin-top: 0;
    }

    .superiorities__h {
        align-self: baseline;
        padding: 0 20px;
    }

    .services__h {
        align-self: baseline;
    }
}


@media (max-width: 750px) {
    .service__boxes {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .service__box {
        width: 350px;
        height: 67px;
        flex-direction: row;
        align-items: center;
        gap: 64px;
        padding: 0;
        border-top: none;
    }


    .mccan__div,
    .um__div {
        margin: 11px 0 12px 0;
    }

    .adssprint,
    .stv,
    .initiative {
        height: 32px;
    }

    .adssprint__div,
    .stv__div,
    .initiative__div {
        margin: 20px 0 14px 0;
    }

    .mccan,
    .um,
    .kedi,
    .adssprint,
    .stv,
    .initiative {
        margin: 0;
    }

    .mccan {
        width: 109px;
        height: 36px;
    }

    .um {
        width: 43px;
        height: 43px;
    }

    .kedi {
        width: 151px;
        height: 22.69px;
        margin: 20px 0 25px 0;
    }

    .adssprint {
        width: 97px;
    }

    .stv {
        width: 50px;
    }

    .initiative {
        width: 92px;
    }

    .service__box div {
        width: 251px;
        padding-left: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service__btn {
        display: block;
        background-color: transparent;
        height: max-content;
    }

    .service__box__ul {
        display: none;
    }
}


@media (max-width: 550px) {
    .list__box {
        width: 170px;
        height: 170px;
        font-size: 12px;
        gap: 12px;
    }

    .list__box__svg {
        margin-top: 35px;
    }

    .list__box__svg svg {
        width: 35px;
        height: 35px;
    }

    .list__box p {
        width: auto;
    }
}

@media (max-width: 500px) {
    .gaaholding__container {
        margin: 0;
        align-items: center;
        gap: 11px;
        padding: 20px 0 26px 0;
    }

    .gaaholding__h {
        margin: 0;
    }

    .work_location__title {
        margin: 0;
    }

    .gaaholding__typo {
        padding: 0 20px;

    }

    .gaaholding__typo p {
        text-align: start;
        font-size: 14px;
        line-height: 16.8px;
    }

}

@media(max-width: 440px) {
    .work_location__title {
        width: 220px;
    }

    .work_location__img {
        min-width: 280px;
    }
}

@media (max-width: 420px) {
    .superiorities__h {
        width: 352px;
    }

    .services__h {
        width: 350px;
    }
}

@media (max-width: 395px) {

    .gaaholding__logo {
        margin: 0;
    }

    .work_location__typo p {
        width: 280px;
    }

    .strategy__title {
        max-width: 300px;
    }

    .strategy_partners__content {
        margin-top: -11px;
    }

    .strategy_partners__content div {
        width: 45px;
        height: 45px;
    }

    .strategy__svg svg {
        width: 260px;
    }

    .list__box {
        width: 150px;
        height: 150px;
        line-height: 12px;
        font-size: 10px;
    }

    .list__box p {
        width: 130px;
    }

    .service__box {
        width: 300px;
        gap: 14px;
    }

    .service__box div {
        padding-left: 60px;
    }

    .service__btn_active {
        padding-left: 212px;
    }

    .service__btn__span_active {
        width: 100px;
    }

    .superiorities__h {
        width: 312px;
    }

    .services__h {
        width: 300px;
    }

}


.service__box_full {
    flex-direction: column;
    min-height: 284px;
    gap: 20px;
    align-items: baseline;
    border-top: 4px solid rgba(0, 87, 255, 1);
    height: 100%;
}


.service__btn__span {
    display: none;
}

.service__btn__svg_active {
    display: none;
}

.service__btn__span_active {
    display: flex;
    color: #B8B8B8;
    font-size: 12px;
    line-height: 8px;
    font-weight: 200;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.service__btn__span_active svg {
    margin-top: 0.5px;
}

.service__box_full div {
    margin-bottom: 0;
}

.service__ul_active {
    display: flex;
    font-size: 12px;
    gap: 2px;
    padding-left: 10px;
    min-height: 173px;
    height: 100%;
}